@keyframes fadeIn {
  from{
    opacity:0;
  }to{
    opacity: 0.7;
  }
}
.bgImage{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index:-1;
  animation: fadeIn .5s linear;
}
.hiding{
  display: none;
}
.showing{
  display: block;
}
